@page "/"
@using BlazorLocalizationTest.Resources
@using Microsoft.Extensions.Localization
@using Utils

@inject IStringLocalizer<ApplicationResource> localizer

<PageTitle>@localizer[Constants.homePage]</PageTitle>

<h1>@localizer[Constants.homePage]</h1>

@localizer[Constants.homePage]

@code {

    protected override void OnInitialized()
    {
    }
}