################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LocalizatinoTestApp/.vs
/LocalizatinoTestApp/PetCareWebApi/bin
/LocalizatinoTestApp/PetCareWebApi/obj
/LocalizatinoTestApp/PetCareWebApi/.DS_Store
/LocalizationTestApp/.vs/LocalizatinoTestApp/CopilotIndices/17.12.38.29086
/LocalizationTestApp/.vs
/LocalizationTestApp/PetCareWebApi/bin
/LocalizationTestApp/PetCareWebApi/obj
/LocalizationTestApp/PetCareWebApi/wwwroot/.DS_Store
