################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LocalizatinoTestApp/.vs
/LocalizatinoTestApp/PetCareWebApi/bin
/LocalizatinoTestApp/PetCareWebApi/obj
/LocalizatinoTestApp/PetCareWebApi/.DS_Store
