@page "/{culture}"

@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Localization
@using System.Globalization
@using System.Net.Http.Json
@using System.Threading
@inject IStringLocalizer<ApplicationResource> localizer
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject IHttpContextAccessor httpContextAccessor

<PageTitle>Title</PageTitle>

@* https://www.appstudio.dev/app/OpenIconic.html *@

<div class="row">
    <div class="col-md-12 p-1">
                <h1><strong>@localizer["homePage"]</strong></h1>
   </div>
</div>


@code {
    protected override async Task OnInitializedAsync()
    {
    }
}

@code {
    [Parameter]
    public string? culture { get; set; }
}