@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<PageTitle>Test Localization project</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code {
    protected override void OnInitialized()
    {
    }
}